*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;

}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav h2{
    color: rgb(41, 10, 220);

}
.icon{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: large;
    font-weight: 100;
    font-family: sans-serif;
    color: grey;
    cursor: pointer;
    

}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(7, 9, 82);
    padding: 10px;
}
.menu ul li{
    list-style-type: none;
    color: white;

}
nav .headername{
    display: flex;
    align-items: center;
    gap: 3px;
}
nav .logo{
    width: 45px;
}